@{
    Layout = null;
}

<form method="post" action="">
    <input type="text" name="test1" class="form-control" style="width:40vw; height:5vh; margin-left:5vw; margin-top:5vh; font-size:45px;" placeholder="Buraya yaz" />
    <br /> <br />
    <input class="btn btn-success" type="submit" value="Tıkla" style="width: 40vw; height: 8vh; margin-left: 5vw; margin-top: 1vh; font-size:60px;" />
</form>