@model Kodcamp.Models.VMModels.VMChannels;
@{
    var newsList = Model.NewsList;
    var tags = Model.TagsKeyValue;
    double result = Convert.ToDouble(ViewData["Result"]);
}

<body>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">

                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Kelime Sayısı Hesaplama</li>
                </ol>
            </div>

        </div>
    </section>

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">

                        <div class="d-flex justify-content-center">
                            <div>

                                <div class="alert alert-danger" role="alert" style="text-align:center;">
                                    <h4> Metindeki Kelime Sayısını Hesapla </h4>
                                </div>
                                <br />

                                <h5>Metninizi yazın ya da kopyalayın</h5>
                                <textarea style="height:240px;" value="" id="duzeltilecekTxt" class="form-control" placeholder="Metninizi buraya yazın"></textarea>

                                <br />


                                <div class="d-flex justify-content-center" style="margin-top:5%;">
                                    <button onclick="getLengthOfText();" style="width:300px; cursor:pointer;" type="submit" class="btn btn-success center">KELİME SAYISINI BUL</button>
                                </div>
                                <br />
                                <hr />
                                <br />

                                <div id="divResult2" class="alert alert-dark" role="alert" style="text-align:center;">
                                    <h6> Hesaplama yapılırken sadece 'tek' boşluk karakterleri dikkate alınmaktadır. Paragraf boşlukları dikkate alınmaz.  </h6>
                                </div>

                                <div id="divResult1" class="alert alert-success d-none" role="alert" style="text-align:center;">
                                    <h3 id="duzenlenenTxt" class="d-none">  </h3>
                                </div>

                            </div>
                        </div>



                    </article><!-- End blog entry -->


                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <div class="sidebar-item ">
                            <form>
                                <input type="text" class="form-control" placeholder="Ara..." onkeyup="getQuestionsBySearch(this.value);">
                            </form>
                        </div><!-- End sidebar search formn-->


                        <h3 style="margin-top:45px;" class="sidebar-title">Uygulamalarımız</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a style="cursor:pointer;" href="/Uygulamalar/Kelime-Sayisi-Hesapla"> Kelime Sayısı Hesaplama Uygulaması</a></li>
                                <li><a style="cursor:pointer;" href="/Uygulamalar/Indirim-Hesaplama"> İndirim Hesaplama Uygulaması</a></li>
                                <li><a style="cursor:pointer;" href="/Uygulamalar/Yuzde-Hesaplama"> Yüzde Hesaplama Uygulaması</a></li>
                                <li><a style="cursor:pointer;" href="/Uygulamalar/Kelime-Karakter-Degistirme"> Kelime Değiştirme Uygulaması </a></li>
                                <li><a style="cursor:pointer;" href="/Uygulamalar/channels/-1"> Tartışma Kanalları </a></li>
                            </ul>
                        </div><!-- End sidebar tags-->

                        <h3 style="margin-top:45px;" class="sidebar-title">Son Gönderiler</h3>
                        <div class="sidebar-item recent-posts">
                            @foreach (var item in newsList)
                            {
                                <div class="post-item clearfix">
                                    <img src="/images/news/@item.ImageUrl" alt="">
                                    <h4><a href="/haberler/@item.Url">@item.Title</a></h4>
                                    <time datetime="2020-01-01">@item.DateCreated</time>
                                </div>
                            }


                        </div><!-- End sidebar recent posts-->

                        <h3 style="margin-top:45px;" class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @foreach (var item in tags)
                                {
                                    <li><a style="cursor:pointer;" href="/sorular">@item.Key (@item.Value)</a></li>
                                }
                            </ul>
                        </div><!-- End sidebar tags-->






                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Bilgilendirme</h5>
                    <button onclick="hidePopUp();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Kodunuz geçersizdir.
                </div>
                <div class="modal-footer">
                    <button onclick="hidePopUp(); return false;" type="button" class="btn btn-primary">Tekrar Dene</button>
                    <button onclick="location.href='/'; return false;" type="button" class="btn btn-success">Anasayfa</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/yuzdeHesaplama.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/js/channels.js"></script>
</body>